/*
  * This is the main stylesheet for the popup.
  * It is used to style the popup.
  * If you want to add more styles, you can do so here.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}
